binder_use(grilservice_app)
allow grilservice_app gril_antenna_tuning_service:service_manager find;
binder_call(grilservice_app, gril_antenna_tuning_service)
binder_call(grilservice_app, twoshay)
